@model Vacinas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacinas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaixaEtaria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVacina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
