@model IEnumerable<ZeGotao.Models.Vacinas>
@{
    ViewData["Title"] = "Vacinas";
}

<div class="container mt-4 cadastrar-wrapper">

    <h2 class="text-center mb-4">Vacinas Cadastradas</h2>

    <div class="text-end mb-3">
        <a class="btn-cadastrar" asp-action="Create">Cadastrar Nova Vacina</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Faixa Etária</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomeVacina</td>
                    <td>@item.FaixaEtaria</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.IdVacina">Detalhes</a> |
                        <a asp-action="Edit" asp-route-id="@item.IdVacina">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdVacina">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
